<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- import Vue before Element -->
<!--  <script src="https://unpkg.com/vue/dist/vue.js"></script>-->
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

  <!-- import CSS -->
  <!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
  <!-- import JavaScript -->
  <!--    <script src="https://unpkg.com/element-ui/lib/index.js"></script>-->

  <!-- import Axios -->
  <!--    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
  <script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
          integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <title>中华人民共和国统计用行政区划代码</title>
</head>

<body>
<div class="container-xl" id='xzqh' v-cloak>
  <div class="text-center">
    <a :href="'http://www.stats.gov.cn/tjsj/tjbz/tjyqhdmhcxhfdm/'+year" title="点击跳转国际统计局行政区划代码" target="_blank">
      <img src="http://www.stats.gov.cn/images/banner.jpg">
    </a>
    <h3>中华人民共和国统计用区划代码和城乡划分代码</h3>
  </div>
  <div class="row"> 年份
    <label v-for="item in years" @click="isPar=1">
      <input type="radio" name="year" :value="item" v-model="year"/>
      {{item}} &nbsp; &nbsp; &nbsp; &nbsp;
    </label>
  </div>
  <div class="row">
    <ul class="list-group col" v-show="provinces.length">
      <li class="list-group-item">省级</li>
      <li v-for='item in provinces' @click='itemClickFn(item)' class="list-group-item" :class="province===item[0]?'active':''" :key="year+item[0]">
        {{item[0]/1000000}} {{item[1]}}
      </li>
    </ul>
    <ul class="list-group col" v-show="cities.length">
      <li class="list-group-item">地级</li>
      <li v-for='item in cities' @click='itemClickFn(item)' class="list-group-item" :class="city===item[0]?'active':''" :key="year+item[0]">
        {{item[0]/1000000}} {{item[1]}}
      </li>
    </ul>
    <ul class="list-group col" v-show="counties.length">
      <li class="list-group-item">县级</li>
      <li v-for='item in counties' @click='itemClickFn(item)' class="list-group-item" :class="county===item[0]?'active':''" :key="year+item[0]">
        {{item[0]/1000000}} {{item[1]}}
      </li>
    </ul>
    <ul class="list-group col" v-show="towns.length">
      <li class="list-group-item">乡镇级</li>
      <li v-for='item in towns' v-on:click='itemClickFn(item)' class="list-group-item" :class="town===item[0]?'active':''" :key="year+item[0]">
        {{item[0]/1000}} {{item[1]}}
      </li>
    </ul>
    <ul class="list-group col-3" v-show="villages.length">
      <li class="list-group-item">村级</li>
      <li v-for='item in villages' @click='itemClickFn(item)' class="list-group-item" :class="village===item[0]?'active':''" :key="year+item[0]">
        {{item[0]}}-{{item[2]}} {{item[1]}}
      </li>
    </ul>
  </div>
  <div class="text-center" style="background-color: #1E67A7; color:white">
    <p>
      数据来源：<a href="http://www.stats.gov.cn/" style="color: white">国家统计局</a>
    </p>
    <p>
      <a href="https://github.com/life5211/xzqh/issues" style="color: white" target="_blank"> 数据有误请留言</a>
    </p>
  </div>
</div>

<style>
  [v-cloak] {
    display: none;
  }

</style>

</body>


<script>
    // const field = ['', 'province', 'city', 'county', 'town', 'village'];
    // const fields = ['', 'provinces', 'cities', 'counties', 'towns', 'villages'];
    const vm = new Vue({
        el: '#xzqh',
        data: {
            china: '000000000000', isPar: 1,
            years: ['2020', '2019', '2018'], year: '',
            provinces: [], province: '',
            cities: [], city: '',
            counties: [], county: '',
            towns: [], town: '',
            villages: [], village: '',
            field: ['country', 'province', 'city', 'county', 'town', 'village'],
            fields: ['countries', 'provinces', 'cities', 'counties', 'towns', 'villages']
        },
        methods: {
            itemClickFn(item) {
                this.isPar = item[3];
                let level = item[2] > 4 ? 5 : item[2];
                vm[this.field[level]] = item[0];
            },
            getJson: function (code, type) {
                if (this.isPar < 1) {
                    this.clearArr(type);
                    return "没有下级行政机构";
                }
                if (!code) {
                    return "目标行政代码为空"
                }
                axios.get('json/' + this.year + '/' + code + '.json')
                    .then(function (response) {
                        let dataType = response.data[0][2] > 4 ? 5 : response.data[0][2];
                        vm[vm['fields'][dataType]] = response.data;
                        vm[vm['field'][dataType]] = response.data[0][0];
                        vm['isPar'] = response.data[0][3];
                        if (dataType > type) {
                            vm.clearArr(type, dataType);
                        }
                    })
                    .catch(function (error) {
                            vm.clearArr(type);
                            console.log(error);
                        }
                    );
            },
            clearArr(start, end) {
                start = start || 0;
                end = end || vm.fields.length;
                vm.field.forEach((val, i) => {
                    if (i >= start && i < end) {
                        vm[vm.fields[i]] = [];
                        vm[vm.field[i]] = '';
                    }
                });
            }
        },
        watch: {
            year: function (val, oldVal) {
                this.getJson(this.china, 1);
            },
            province(val) {
                this.getJson(val, 2);
            },
            city(val) {
                this.getJson(val, 3);
            },
            county(val) {
                this.getJson(val, 4);
            },
            town(val) {
                this.getJson(val, 5);
            }
        },
        created() {
            this.year = this.years[0];
        }
    });
</script>

<style>

</style>

</html>
